*.dump
*.ipynb
*.mo
*.pyc
*.swp
.DS_Store
.cache/
.coverage
.decrypted*
.devcontainer
.djlintrc
.env
.envrc
.gnupg
.idea
.npm
.pre-commit-trivy-cache/
*.egg-info/
.pytest_cache
.python-version
.terraform
.venv
.viminfo
.virtualenv
.vscode*
Makefile.override
__pycache__
